absl-py==2.1.0
chex==0.1.86
docstring_parser==0.16
einops==0.8.0
etils==1.7.0
flax==0.8.5
fsspec==2024.6.1
importlib_resources==6.4.0
jax==0.4.30
jaxlib==0.4.30
markdown-it-py==3.0.0
mdurl==0.1.2
ml-dtypes==0.4.0
msgpack==1.0.8
nest-asyncio==1.6.0
numpy==2.0.0
opt-einsum==3.3.0
optax==0.2.3
orbax-checkpoint==0.5.20
pillow==10.4.0
protobuf==5.27.2
Pygments==2.18.0
PyYAML==6.0.1
rich==13.7.1
scipy==1.14.0
shtab==1.7.1
tensorstore==0.1.63
toolz==0.12.1
tqdm==4.66.4
typing_extensions==4.12.2
tyro==0.8.5
zipp==3.19.2
